body {
	font-family: 'Roboto', sans-serif;
	background-color: #dbdbdb;
}

h1 {
	font-family: 'Barrio';
}

/* Width and Height of #skeleton meant to mimic iPhone 5/5s resolution. Divided by 2 */

#skeleton {
	margin-top: 20px;
	width: 180pt;
	height: 284pt;
	padding: 0;
}

#valueHolder {
	background-color: black;
	color: white;
	width: inherit;
	height: 59pt;
}

.col-xs-3 {
	width: 45pt;
	height: 45pt;
	padding: 0;
}

.col-xs-6 {
	width: 90pt;
	height: 45pt;
	padding: 0;
}


p {
	padding: 0;
}

h3 {
	margin-top: 25px;
}

#orange {
	background-color: #e7914b;
	color: white;
}

#top {
	background-color: #c7c7c7;
}

.button {
	border-style: solid;
	border-color: #999999;
	border-width: 1px;
	background-color: #d9d9d9;
	cursor: default;
}

