.uppercase {
  text-transform: uppercase;
}

body {
  font-family: "Source Sans Pro", sans-serif;
  background-color: #cccccc;
}

.flexcenter {
  display: flex;
  align-items: center;
}

.pt5 {
  padding-top: 5rem;
}

.pb5 {
  padding-bottom: 5rem;
}

.pt2 {
  padding-top: 2rem;
}

.button {
  color: black;
  background-color: transparent;
  font-size: 15px;
  border-radius: 30px;
  padding: 5px 11px;
  transition: all 0.3s;
  border: 0;
}

.button:hover {
  color: white;
  background-color: black;
  text-decoration: none;
}

.button:active, .button:focus {
  text-decoration: none;
}

.clock {
  height: 300px;
  width: 300px;
  margin: 20px auto;
  border: 2px solid #22262B;
  border-radius: 100%;
  cursor: pointer;
}

.reset {
  transition: all 0.2s;
}

.reset:hover {
  color: blue;
  text-decoration: underline;
}
